@import "node_modules/vui-typography/base-font-size.scss";
@import "node_modules/vui-typography/typography.scss";

html {
	font-size: $vui-base-fontSize;
}

body {
	@include vui-typography();
	margin: 0;
}

#content {
	display: none;
}
.json {
	max-width: 500px;
}

.branding-primary {
	background-color: var(--d2l-branding-primary-color, red);
	color: white;
	height: 100px;
	padding: 10px;
	width: 200px;
}
